/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header******/

header  {
    height: 80px;
    padding: 0 16px;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
}

img.booki {
    width: 90px;
    margin-left: -15px;
}

.nav-logo ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.nav-barli {
    margin: 0 25px;
}

.nav-barli a:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
    padding-top: 22px;
}

.nav-barli a{
    border-top: 2px solid transparent;
    padding: 50px 25px;
}

/**MAIN**/

#section-recherche {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 20px;
} 

h1.recherche-title {
    margin-bottom: 0;
    font-size: 1.4rem;
}

p.recherche-texte {
    font-size: 1rem;
    margin: 5px 0 0;
}

.map-input {
    display: flex;
    border-color: white;
}

form {
    display: flex;
    width: 380px;
    height: 55px;
    border: 1px solid;
    border-radius: 15px;
    border-color: #F2F2F2;
}

.map {
    
    background-color: #F2F2F2;
    width: 50px;
    height: 56px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.position {
    padding: 18px;
}
    
.texte-input {
    width: 59%;
    border: transparent;
    font-size: 18px;
    text-align: center;
}

.search {
    width: 41%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: 700;
    border: transparent;
    cursor: pointer;
} 

.search img {
    display: none;
}

/******FILTRES******/

.filter {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.filter h2 {
    width: 54px;
    height: 21px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 100%;
    color: #000000;
}

.filter-cat {
    display: flex;
    gap: 16px;
}

.div-cat {
    display: flex;
    gap: 16px;
}

.categories {
    display: flex;
    gap: 15px;
}

.eco,.fam,.rom,.pep   {
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 4px 19px;
        border-radius: 25px;
        border-width: 2px;
        border: 2px solid #D9D9D9;
        font-size: 15px;
        background-color: white;
    }

.eco {
    width: 173px;
    height: 50px;
}

.fam {
    width: 134px;
    height: 50px;
    padding-left: 25px;
}

.rom {
    width: 170px;
    height: 50px;
}

.pep {
    width: 168px;
    height: 50px;
} 

.filter button:hover {
    background-color: #deebff;
}

/***INFOS***/

p.info-diponibilite {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin: 0 0 16px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}

#hebergements .section-title {
    margin: 0 0 17px 0;
    font-size: 22px;
    width: 100%;
    height: 26px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    margin: 0 0 28px 0;
}

.hebergements-cards a {
    width: 25%;
    padding: 16px;
    height: 190px;
}

.hebergements-cards .card {
   margin: 0 -20px;
   height: 200px;
}

.hebergements-cards .card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 5px;
}

.card-hebergements .card-content {
    width: 100%;
    height: 64px;
    padding-right: 15px;
    padding-left: 15px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h3.content-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

p.content-subtitle {
    margin: 0 0 0.5rem 0;
    font-size: 14px;
}

.card-hebergements .card-content .card-rating {
    display: flex;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***ACTIVITES***/

#activites-marseille {
    margin-bottom: 40px;
}

#activites-marseille h1 {
    margin: 32px 32px;
    font-size: 22px;
}

.activites-cards {
    display: flex;
    gap: 3%;
    width: 96%;
    height: 440px;
    margin-left: 32px;
    
}

.card-article {
    height: auto;
    width: 23%;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;
}

.card-article img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}  

.card-article h3 {
    width: 90%;
    height: 3rem;
    margin: 0 0 0 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

/***FOOTER***/

footer {
    width: calc(100% - 37px);
}

.div-footer {
    display: flex;
    gap: 60px;
    width: 100%;
    height: 163px;
    padding: 20px;
    background: #F2F2F2;
}

article.article-footer {
    width: 33.33%;
    height: 163px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.article-footer h3 {
    margin: 0;
    height: 21px;
    font-size: 18px;
}

.article-footer a ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.article-footer ul li {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin: 0 0 15px -40px;
    list-style: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    }

    .nav-logo ul {
        gap: 0;
    }

    .recherche-texte {
        margin: 16px 0 20px;
    }

    form {
        width: 380px;
    }


    .filter {
        flex-direction: column;
    }

    .filter-cat, .categories {
        gap: 10px;
    }

    .eco {
        width: 54%;
    }

    .fam {
        width: 45%;
    }

    .rom {
        width: 48%;
    }

    .pep {
        width: 49%;
    }

    .info-diponibilite {
        margin: 0 0 32px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
   .card-article {
        height: 335px;
        width: 25%;
   }

   #activites-marseille {
        margin-bottom: 0;
   }

   .activites-cards {
        gap: 16px;
        height: 350px;
        margin-left: 30px;
   }

   .card-article {
        height: 270px;
        width: 23%;
   }

   .card-article img {
        height: 215px;
   }
   .card-article h3 {
        margin: 0 0px 0 16px;
   }

   .div-footer {
        gap: 26px;
        margin-top: -50px;
   }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    
    *, *::before, *::after {
        box-sizing: border-box;
    }
    
    body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .main-container {
        min-width: 320px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    /******HEADER******/

    header {
        height: 80px;
        margin-bottom: 15px;
        padding: 26px 0 100px;
    }

    .nav-logo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    
    img.booki {
        width: 100px;
    }
    
    .nav-logo ul {
        width: 100%;
        padding: 0;
        justify-content: space-between;
        margin: 0;
    }

    .nav-barli {
        border-bottom: 3px solid #f2f2f2;
        width: 50%;
        margin: 0;
        padding-bottom: 16px;
    }

    .nav-barli:hover {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color); 
        padding-bottom: 16px;
    }
    
    .nav-barli a:hover {
        border-top: none;
    } 
    
    /***MAIN***/

    main {
    display: flex;
    flex-direction: column;
}

    /******SECTION RECHERCHE******/

    #section-recherche {
        padding: 15px 22px 0;
        gap: 30px;
    }
    .title-texte {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    h1.recherche-title, p.recherche-texte {
        margin: 0;
    }

    .map-input {
        margin: 0;
    }

    .map {
        height: 54px;
    }

    .texte-input {
        width: 70%;
    }

    .search {
        width: 17%;
        border-radius: 15px;
    }

    .search img {
        display: flex;
        padding-left: 30%;
    }

    .text-search {
        display: none;
    }

    .filter {
        /* gap: 10px; */
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .filter h2 {
        margin: 0;
        width: 100%;
    }
    
    .filter-cat {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .categories {
        width: 100%;
        flex-wrap: wrap;
        /* margin-left: -5px;
        gap: 3px; */
    }

    .eco,.fam,.rom,.pep {
        width: 160px;
        white-space: nowrap;
        text-align: center; 
    }


    /***HEBERGEMENTS-AND-POPULAIRES******/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    /******POPULAIRES******/

    .hebergements-and-populaires .populaires {
        border-radius: 0;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin: 0;
    }

    .populaires-cards img {
        width: 35%;
    }

    /******HEBERGEMENTS******/

    #hebergements {
        background-color: #FFFFFF;
        gap: 15px;
    }
    
    #hebergements .section-title {
        margin: 0;
    }
    
    .hebergements-cards {
        flex-direction: column;
        box-sizing: border-box;
        gap: 40px;
    } 

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards .card {
        min-height: 215px;
    }

    /******ACTIVITES A MARSEILLE******/

    #activites-marseille {
        height: 1300px;
    }
    
    #activites-marseille h1 {
        margin: 32px 32px 0;
    }
    .activites-cards {
        flex-direction: column;
        margin: 0;  
        padding: 20px;
        width: 100%;
    }

    .card-article {
        width: 98%;
    }
    /******FOOTER******/

    footer {
        width: auto;
    }
    .div-footer {
        flex-direction: column;
        height: 100%;
        gap: 15px;
    }

    article.article-footer {
        white-space: nowrap;
        gap: 0;
        margin-bottom: -25px;
    }

    .assistance-footer {
        margin-top: -25px;
    }




}