

* {
    box-sizing: border-box;
}
/******Header******/

header {
    width: 100%;
}
/****************************enlever BORDER à la fin***************/
.navIcon{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}


.logoBooki{
        display: flex;
        justify-content: center;
}

img.Booki {
    width: 62px;
    height: 19px;
}

.navBar {
    display: flex;
    list-style: none;
    gap: 50px;
    flex-direction: row;
    padding: 50px 25px,
}

.navBar a:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
    padding-top: 45px;
}

.navBar a{
    color: #000000;
    border-top: 2px solid transparent;
    transition: border-color 0.3s ease,
    padding: 50px 25px;
}

.active {
    color: #0065FC;
}


/******MAIN******/

/***section Recherche***/

/****************************enlever BORDER à la fin***************/
#sectionRecherche {
    border: 1px solid green;
}

.rechercheHP {
    border: 1px solid blueviolet;
}

h1.rechercheH {
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    width: 1340px;
    height: 26px;
}

p.rechercheP{
    font-weight: 400;
    font-size: 16px;
    width: 924px;
    height: 19px;
    line-height: 100%;
    letter-spacing: 0%;
}


.mapInput {
    display: flex;
    border-block-color: white;
}

form {
    width: 377px;
    display: flex;
    height: 49px;
    border: 1px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: #F2F2F2;
}

.map {
    width: 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


    
input.txtInput {   
    font-weight: 700;
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    width: 147;
    height: 21;
    border-left: 0px;
    border-block-color: #FFFFF;
    border: 0px;
}

button.recherche {
    width: 164px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-color: #F2F2F2;
    border: 0px;
}

.filtre {
    border: 1px solid black;
}

.infoDiponibilité {
    border: 1px solid red;
}

/****************************enlever BORDER à la fin***************/
.hebergements-and-populaires{
    border: 1px solid yellow;
}

section#sectionRecherche {
    padding: 30px;
}

#sectionHebergements {
    width: 63%;
}


/****************************enlever BORDER à la fin***************/

#activitésMarseille {
    border: 1px solid black;
}


/****************************enlever BORDER à la fin***************/

footer {
    border: 1px solid red;
}

